.cardsSection {
  display: flex;
  flex-flow: wrap row;
}

.cardsComponent {
  margin: 90px 0;
}

.Cards {
  align-items: center;
  background: repeat center url('../images/background-card.jpg');
  border: 16px solid rgba(0, 0, 0, 0.997);
  border-radius: 10px;
  box-shadow: 16px 26px 44px 35px black;
  display: flex;
  flex-direction: column;
  height: 529px;
  margin-top: 5vmin;
  padding: 10px;
  width: 348px;
}

.cards {
  display: flex;
  flex-direction: column;
  height: 529px;
  width: 100%;

}

.button-element {
  width: 60px;
}

.cards ul {
  list-style: none;
}

.cards h2 {
  background-color: black;
  border-radius: 12px 12px 0 0;
  color: #a3671d;
  margin-bottom: 0;
  text-align: center;
}

.cards img {
  background-color: rgba(0, 0, 0, 0.453);
  height: 250px;
  width: 350px;
}

.cards p {
  background: black;
  border-radius: 0 0 12px 12px;
  color: #a3671d;
  flex-wrap: wrap;
  margin-top: 0;
  max-width: 315px;
  text-align: center;
  word-break: break-all;
}
