form {
  display: flex;
  flex-wrap: wrap;
  width: 600px;

}

label {
  margin: 30px;
}

.label {
  display: flex;
  flex-direction: column;
}

.save {
  border-radius: 25%;
  height: 30px;
  margin: 60px;
}
