@import url(//db.onlinewebfonts.com/c/92947578193d70067aebfc8efb0c312e?family=Busorama);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/background.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3  {
  color: black;
  text-align: center;
  font-family: "Busorama";
  text-transform: uppercase;
}

p {
  font-family: monospace;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;

}

.ap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.ap div {
margin: 0 40px;
}